# /
/Makefile
/config.status
/config.log
/aclocal.m4
/bin
/junk
/*.suo
/*.ncb
/*.sdf
/.hg
/autom4te.cache
/bld
/configure
/config.h
/config/compile
/libtool
/src/Makefile
/stamp-h1
/python/build

# binary
/src/mmseg
/win32/x64
/win32/Release
*.ncb
*.suo
/libcss

# file types
*.lo
*.in~
*.la
*.a
*.o
*.pyc
*.user
\.deps
\.libs
\.dirstamp